body {
    font-family: "Maven Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #526b84;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Nunito", sans-serif;
    color: #212b35;
    font-weight: 600;
}
a {
    color: #47b0df;
}
a:hover {
    color: #208ab9;
}
a.text-link {
    text-decoration: none;
}
a.text-link:hover {
    text-decoration: underline;
}
a.more-link {
    text-decoration: none;
}
a.more-link:hover {
    text-decoration: none;
}
a.more-link:hover .more-arrow {
    margin-left: 0.5rem;
}
a.more-link .more-arrow {
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}
@media (prefers-reduced-motion: reduce) {
    a.more-link .more-arrow {
        transition: none;
    }
}
.btn {
    font-weight: bold;
    padding: 0.375rem 1rem;
    transition: all 0.4s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:focus,
.btn.focus {
    box-shadow: none !important;
}
.btn-primary {
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background: #208ab9;
    border-color: #208ab9;
}
.theme-btn {
    padding: 0.6rem 1.5rem;
}
.theme-btn-ghost {
    background: none;
    color: #47b0df;
    border: 2px solid #47b0df;
}
.theme-btn-ghost:hover {
    color: #fff;
}
.theme-btn-on-bg {
    color: #fff !important;
    border-color: #fff;
}
.theme-btn-on-bg:hover {
    background: #fff;
    color: #47b0df !important;
}
.theme-btn {
    padding: 0.6rem 1.5rem;
}
.theme-btn-ghost {
    background: none;
    color: #47b0df;
    border: 2px solid #47b0df;
}
.theme-btn-on-bg {
    color: #fff !important;
    border-color: #fff;
}
.theme-btn-on-bg:hover {
    background: #fff;
    color: #47b0df !important;
}
.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}
.more-arrow {
    position: relative;
    top: 1px;
}
.page-title {
    font-size: 2.5rem;
}
.error {
    color: #ec575b;
}
.text-light {
    color: #7791ab !important;
}
.border-radius-0 {
    border-radius: 0;
}
.font-style-normal {
    font-style: normal !important;
}
.link-on-bg,
a.link-on-bg {
    color: rgba(0, 0, 0, 0.5);
}
.link-on-bg:hover,
a.link-on-bg:hover {
    color: rgba(0, 0, 0, 0.6);
}
.presudo-hidden:before {
    display: none !important;
}
.presudo-hidden:after {
    display: none !important;
}
.theme-bg-primary {
    background-color: #eff2f5;
}
.theme-bg-secondary {
    background-color: #47b0df;
}
.single-col-max-width {
    max-width: 860px;
}
.site-logo .logo-text {
    position: relative;
    top: 3px;
}
.site-logo .logo-text .alt {
    font-size: 1rem;
    background: #dff1f9;
    color: #47b0df;
    padding: 2px 4px;
    position: relative;
    top: -6px;
}
.site-logo .navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0;
}
.navbar {
    font-size: 1rem;
    padding: 1rem 0;
}
.navbar .navbar-toggler {
    border: none;
    padding: 0;
    font-size: inherit;
    position: relative;
    top: -5px;
}
.navbar .navbar-toggler-icon {
    background: url("../images/bars.svg") no-repeat left top;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    height: 20px;
    width: 24px;
}
.navbar .navbar-toggler-icon:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.navbar .nav-link {
    color: #526b84;
    font-weight: 500;
}
.navbar .active .nav-link {
    color: #212b35;
}
.navbar .dropdown-menu {
    border-radius: 2px;
}
.navbar .dropdown-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    right: 32px;
    top: -8px;
}
.navbar .dropdown-item {
    font-size: 0.875rem;
    padding: 0.5rem 1.25rem;
}
.navbar .dropdown-item:hover {
    color: #212b35;
}
.navbar .dropdown-item:active {
    color: #fff;
}
.social-list li {
    font-size: 1.25rem;
}
.header .social-list {
    right: 15px;
    top: 2rem;
}
.footer {
    font-size: 0.875rem;
}
.footer .col-heading {
    font-size: 1.25rem;
}
.footer li {
    margin-bottom: 0.5rem;
}
.footer a {
    color: #526b84;
}
.footer .social-list li {
    font-size: 1.25rem;
}
.footer .download-area h3,
.footer .download-area .h3 {
    font-size: 1.5rem;
}
.footer .download-area .section-intro {
    font-size: 1rem;
}
.footer .download-area .app-stores img {
    height: 40px;
}
.footer .copyright {
    font-size: 0.875rem;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .footer .download-area .app-stores img.ios {
        width: 120px;
    }
    .footer .download-area .app-stores img .android {
        width: 135px;
    }
}
.site-headline {
    font-size: 2.25rem;
}
.site-tagline {
    font-size: 1.375rem;
}
.hero-section .figure-holder {
    background: url("../../public/assets/images/hero-figure.png") no-repeat right top;
    background-size: 480px auto;
    min-height: 600px;
}
.hero-section .app-stores img {
    height: 45px;
}
.section-intro {
    font-size: 1.25rem;
}
.logos-section .item {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.logos-section .item img {
    width: 140px;
    height: auto;
}
.logos-section h3,
.logos-section .h3 {
    font-size: 1.5rem;
    font-weight: normal;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.features-section {
    position: relative;
    overflow: hidden;
}
.features-section:before {
    position: absolute;
    content: "";
    display: block;
    left: -60%;
    top: -150px;
    height: 75%;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    width: 180%;
    background: #eff2f5;
}
.features-section .section-heading {
    z-index: 10;
    position: relative;
}
.testimonial-carousel {
    height: 400px;
}
.testimonial-carousel .carousel-cell {
    width: 480px;
    margin-right: 2rem;
    height: 100%;
}
.testimonial-carousel .carousel-cell .item-inner {
    border: 1px solid #efefef;
    background: #fff;
    padding: 2rem;
}
.testimonial-carousel .carousel-cell .source-profile {
    width: 80px;
    height: 80px;
}
.testimonial-carousel .carousel-cell .source-info {
    font-size: 0.875rem;
}
.testimonial-carousel .flickity-button {
    background: rgba(33, 43, 53, 0.6);
}
.testimonial-carousel .flickity-button:hover {
    background: #232d38;
}
.testimonial-carousel .flickity-button:focus {
    box-shadow: none;
}
.testimonial-carousel .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial-carousel .flickity-prev-next-button .flickity-button-icon {
    fill: white;
    width: 50%;
}
@media (max-width: 991.98px) {
    .hero-section .figure-holder {
        min-height: 460px;
        background-position: right 0px;
        background-size: 360px auto;
    }
}
@media (max-width: 767.98px) {
    .hero-section {
        text-align: center;
    }
    .hero-section .figure-holder {
        padding-bottom: 400px;
        background-position: center 400px;
        background-size: 300px auto;
    }
}
@media (max-width: 575.98px) {
    .site-headline,
    .page-title {
        font-size: 2rem;
    }
    .site-tagline {
        font-size: 1.25rem;
    }
    .hero-section {
        text-align: center;
    }
    .hero-section .figure-holder {
        padding-bottom: 400px;
        background-position: center 420px;
        background-size: 300px auto;
    }
    .logos-row {
        width: 90% !important;
    }
    .testimonial-carousel {
        height: 400px;
    }
    .testimonial-carousel .flickity-button {
        display: none;
    }
    .testimonial-carousel .flickity-prev-next-button .flickity-button-icon {
        fill: #212b35;
        width: 50%;
    }
}
